{{!< main}}

{{#contentFor 'localscripts'}}
<script type="text/javascript" src="/js/prod.js"></script>
{{/contentFor}}

<div id="global_content_container">

	<div id="global_content_pane">
		<div class="global_paper_decoration">
			<div class="global_header_section">
				<span>Poultry Attire</span>
			</div>


			<div class="global_section">
				<img src="/images/site/chicken_attire.jpg" style="display: block; float: right; width: 180px; height: 136px; margin: 8px; padding-left: 20px;">
				<p class="global_contentbox_text" style="margin: 4px 16px 16px 16px;">Diapers and feather guards are practical for sure, but dressing your poultry in the latest fashions can be so much fun!<br><br>
				We know those roos often find their way into our hearts and homes just as often as the hens. Our attire line makes sure poultry couture is available in stylish options for all our feathered friends!</p>
				<div class="global_clearfix"></div>
			</div>

			<!-- Products -->
			<script>
			getProducts('CHICKEN-ATTIRE');
			</script>

			<div class="global_clearfix"></div>

		</div>
	</div>

</div>