{{!< main}}

{{#contentFor 'localscripts'}}
{{/contentFor}}

<div id="global_content_container">

	<div id="global_content_pane">
		<div class="global_paper_decoration">
			<div class="global_header_section">
				<span>Contact Pampered Poultry</span>
			</div>

			<div class="global_section">
				<img src="/images/site/logo.png" style="display: block; float: left; width: 78px; height: 78px; ; margin: 10px 32px 0 6px;" alt="Pampered Poultry Logo">
				<p class="global_contentbox_text" style="margin: 8px 10px; font-size: 18px;">
				Pampered Poultry<br>
				95 Windsor Rd<br>
				Claremont, NH 03743</p>
				<p style="margin: 18px 0 0 12px; font-size: 14px;">
				(603) 558-4934<br>
				julie@pamperyourpoultry.com
				</p>
				<div style="clear: both; margin: 18px 3px 18px 330px;">
					<img src="/images/site/goose_with_bonnet.jpg" border=0 style="width: 159px; height: 159px;" alt="Goose wearing bonnet">
				</div>
			</div>

		</div>
	</div>

</div>