{{!< main}}

{{#contentFor 'localscripts'}}
<script type="text/javascript" src="/js/prod.js"></script>
{{/contentFor}}

<div id="global_content_container">

	<div id="global_content_pane">
		<div class="global_paper_decoration">
			<div class="global_header_section">
				<span>Chicken Diapers</span>
			</div>

			<div class="global_section">
				<img src="/images/site/diapers.jpg" style="display: block; float: left; width: 172px; height: 220px; margin: 8px; padding-right: 20px;">
				<p class="global_contentbox_text" style="margin: 16px;">Our chicken diapers are not just for the fashion obsessed hen. They offer you and your home protection against the inevitable! Our diapers fit comfortably and allow you to enjoy your birds in the house or car without worry!</p>
				<div class="global_clearfix"></div>
			</div>

			<!-- Products -->
			<script>
			getProducts('CHICKEN-DIAPER');
			</script>

			<div class="global_clearfix"></div>

		</div>
	</div>

</div>