{{!< order}}

{{#contentFor 'localscripts'}}
{{/contentFor}}

<div id="global_content_container">

	<div id="global_content_pane">
		<div class="global_wide_main_window">


			<div class="cartpage_section" style="margin-top: 0;">
				<div class="cartpage_content_container">
				500: Server Error
				</div>
			</div>


			<div class="cartpage_section">
				<h2>Sorry, a server error occurred while processing your request.</h2>
				<div class="cartpage_content_container" >
					
					<p style="padding: 22px;">Back to the Pampered Poultry <a href="/">home page</a></p>

				</div>
			</div>


		</div>
	</div>

</div>