<div class="global_header_bar">
	<div class="global_page_container global_header_container">
		<img class="homelink" src="/images/site/feather_icon.png" id="header_icon" alt="Feather Icon">
		<img class="homelink" src="/images/site/pyptext2.png" id="header_logo" alt="Pampered Poultry - back to home page">
		{{#unless hideCart}}
		<div id="global_header_cart">
			<div id="global_cart_cnt"><span id="cart_cnt_display"></span></div>
		</div>
		{{/unless}}
	</div>
</div>