<div class="menu_panel">
	<div class="menu">
		<h2>Pampered Products</h2>
		<ul class="menu_list">
			<li class="global_menuCart"><a class="menu_link cartlink" href="#" rel="nofollow">Shopping Cart</a></li>
			<li><a class="menu_link" href="/diapers">Diapers</a></li>
			<li><a class="menu_link" href="/feather-guards">Feather Guards</a></li>
			<li><a class="menu_link" href="/attire">Attire</a></li>
			<li><a class="menu_link" href="/magnets">Magnets</a></li>
		</ul>
	</div>

	<div class="menu">
		<h2>Browse</h2>
		<ul class="menu_list">
			<li><a class="menu_link homelink" href="#">Home</a></li>
			<li><a class="menu_link" href="http://blog.pamperyourpoultry.com">Blog</a></li>
			<li><a class="menu_link" href="http://www.sewingmyfuture.org">Sewing My Future</a></li>
			<li><a class="menu_link last_menu_item" href="/contact-us">Contact Us</a></li>
		</ul>
	</div>
</div>