<div id="global_news_feed">

	<a href="http://youtu.be/0T-8-KJ9QxA"><span style="font-weight: bold;">Chickens' First Reactions to Diapers</span></a><br>
	<a href="http://youtu.be/0T-8-KJ9QxA"><img src="/images/site/first_timers.jpg" width=240 height=146 alt="Chicken's first reactions to wearing diapers video"></a>
	<p class="global_newsfeed_itemtext">Just give them a minute and they'll be back to their normal selves in a minute!</p>
	<hr class="global_newsfeed_divider">

	<a href="http://youtu.be/q6IRVAiP_w4"><span style="font-weight: bold;">How to Diaper a Chicken</span></a><br>
	<a href="http://youtu.be/q6IRVAiP_w4"><img src="/images/site/test_diaperering.png" width=240 height=147 alt="How to Diaper a Chicken video"></a>
	<p class="global_newsfeed_itemtext">A little practice is all you need to make diapering a chicken a breeze!</p>
	<hr class="global_newsfeed_divider">
	<a href="http://youtu.be/p_D6UUW4yqI"><span style="font-weight: bold;">How our Chicken Diapers are Made</span></a><br>
	<a href="http://youtu.be/p_D6UUW4yqI"><img src="/images/site/test_dr.png" width=240 height=137 alt="How our Chicken Diapers are Made video"></a>
	<p class="global_newsfeed_itemtext">We are working together to create a world where all our friends, including those with feathers, can enjoy a good life- as we all deserved to be pampered!</p>


	<div id="global_feed_header" style="margin-top: 20px;">Share Your Pampered Poultry</div>
	<div class="global_share_callout" style="margin-top: 20px;">
		<p class="global_share_title"><span><a href="#">Julie Baker</a></span> shared a photo.<br>April 23</p>
		<img src="/images/site/test_share2.jpg" alt="Mr. Peeps in chicken attire">
		<p style="color: #666;">Mr. Peeps, in his latest couture commission ordered from Pampered Poultry by his mom Karen... some casual clothes for getting work done on the farm!</p>
	</div>
</div>