<!DOCTYPE html>
<html>
<head>
<title>{{title}}</title>
<meta name="description" content="Promoting the fashionable backyard chicken">

<link rel="stylesheet" href="/css/global.css" type="text/css">
<link rel="stylesheet" href="/css/prod.css" type="text/css">
<link rel="stylesheet" href="/fancybox/source/jquery.fancybox.css?v=2.1.1" type="text/css" media="screen">
<link rel="shortcut icon" href="/images/favicon.ico">

<script type="text/javascript" src="/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="/js/env.js"></script>
<script type="text/javascript" src="/js/global.js" ></script>

{{{block 'localscripts'}}}

<script type="text/javascript" src="/fancybox/source/jquery.fancybox.pack.js?v=2.1.1"></script>

<!--[if lte IE 8]>
<link href="/css/ie.css" rel="stylesheet" />
<script type="text/javascript" src="/js/json3.min.js"></script>
<![endif]-->

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36665120-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</head>
<body>

{{> header}}

<div class="global_page_container">

	{{> menu}}

	<div id="global_content_container">
		{{{body}}}
	</div>

	{{> newsfeed}}

	<div class="global_clearfix"></div>
	<div class="global_footer">
		{{> footer}}
	</div>

</div>

</body>
</html>